{% extends "layout.html" %}

{% block title %}
Register page
{% endblock title %}

{% block extraStyle %}
{% load static %}
<link rel="stylesheet" href="{% static "register.css" %}">
{% endblock extraStyle %}

{% block content %}
<div class="register-container">
    <h2>Register</h2>

    {% if messages %}
        {% for message in messages %}
            <p class="text-red-500">{{message}}</p>
        {% endfor %}

    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password1" placeholder="Password" required>
        <input type="password" name="password2" placeholder="Confirm Password" required>
        <button type="submit">Register</button>
    </form>

    <p class="login-link">Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>
{% endblock content %}